---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import { buttonVariants } from "./ui/button";

type Props = HTMLAttributes<"a">;
const { href, class: className, ...attrs } = Astro.props;
---

<a href={href} {...attrs}
class={cn(buttonVariants({ variant: 'link', size: 'default' }), className)}
>
  <slot />
</a>
